@keyframes slideDown {
  0% {
    transform: translateX(-50%) translateY(-100%);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}

.toastAnimation {
  animation: slideDown 0.5s ease-out forwards;
}