.colorPickerLabel {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.4rem 0.7rem;
  background-color: #f9fafb;
  border: 1px solid #e2e3e5;
  cursor: pointer;
  gap: 0.4rem;
  user-select: none;
  height: 40px;
}

/* テキスト入力欄 */
.colorPickerLabel-input {
  border: none;
  background-color: transparent;
  width: 60px;
  font-family: monospace;
  font-size: 0.9rem;
  text-transform: uppercase; 
  outline: none;
}

/* カラーピッカー (実際には表示しない) */
.colorPickerLabel-colorInput {
  position: absolute;
  height: 0;
  top: 100%;
  left: 0;
  border: none;
}

/* 色のプレビュー用の四角 */
.colorPickerLabel-square {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid #ccc;
  background-color: #66767E;
}

/* アイコン部分 */
.colorPickerLabel:hover.colorPickerLabel-icon{
  font-size: 0.9rem;
  color: #666;
}

/* ホバー時のスタイル (任意) */
.colorPickerLabel:hover {
  background-color: #f3f4f6;
  border-color: #cfd1d4;
}
